**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
terraform/modules/lambda/lambda_function.zip

__pycache__/
*.py[cod]
.venv/
env/
venv/
.coverage
htmlcov/

node_modules/
dist/
.env

.claude/
